/*
 * Module: MMM-MatrixRainBackground
 *
 * By Andrés Vanegas <ukab72106@gmail.com>
 * MIT Licensed.
 */
.MMM-MatrixRainBackground .wrapper {
  display: block;
  position: relative;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
}

.MMM-MatrixRainBackground canvas {
  display: block;
  position: relative;
}
